<ul class="nav nav-tabs">
    <li id='overview'>
        <a href="#">OverView</a>
    </li>
    <li id="adduser">
        <a href="#" >添加用户</a>
    </li>
    <li id="managehost">
        <a href="#">管理host</a>
    </li>
    <li id="managequeue">
        <a href="#">管理队列</a>
    </li>
    <li class="dropdown">
        <a href="dropdown-toggle" data-toggle="dropdown" href="#">Configure<b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for projectdir in xmls['projectdir'] %}
                <li><a data-bind="click:function(){getdata($element)}" project="{{ xmls['projectname'] }}" class="configurefiles" href="#">{{ projectdir }}</a></li>
            {% end %}
        </ul>
    </li>
</ul>