<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}">
    <script type="text/javascript" src="{{ static_url("bootstrap/js/jquery-1.11.0.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript">
        function dialog(value){
            var show = value.split('\n');
            $(".modal-body").html("");
            show.map(function(data){
                $(".modal-body").append('<p>'+data+'</p>');
            });
            $("#alertModal").modal("toggle");
        }
        function getCookie(name) {
            var c = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return c ? c[1] : undefined;
        }
        jQuery.postJSON = function(url, data, callback) {
            data._xsrf = getCookie("_xsrf");
            jQuery.ajax({
                url: url,
                data: jQuery.param(data),
                type: "post",
                success: callback
            });
        }
    </script>
</head>
<body>
	