{% module header() %}
<div class="container">
  <form class="form-horizontal">
    <h2 class="form-signin-heading">请登陆</h2>
    <div class="control-group">
      <input type="text" class="input" placeholder="Email address">
    </div>
    <div class="control-group">
      <input type="password" class="input" placeholder="Password">
    </div>
    <div class="control-group">
      <label class="checkbox">
        <input type="checkbox" lue="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
</div>
{% module footer() %}