{% module header() %}
{% module nav(active=1) %}
<div class="container">
    <div class="alert alert-info">
        选择操作:安装或者修改
    </div>
    <form action="/" method="post">
        <div class="span4 offset4">
            <button id="installinit" class="btn btn-large btn-block" type="button">安装新集群</button>
            <button id="installinit" class="btn btn-large btn-block" type="button">管理修改</button>
            {% raw xsrf_form_html() %}
        </div>
    </form>
</div>
<script type="text/javascript">
    $("#installinit").click(function(){
        window.location.href='/choosecluster'
    });
</script>
{% module footer() %}