{% module header() %}
{% module nav(active=1) %}
<div class="container">
    <div class="alert alert-info">
        把安装包传到agent,并进行安装
    </div>
    <button type="button" id="handout" class="btn" data-loading-text="分发中...">分发安装文件</button>
    <div id="install" class="border-box" style="display:none">
        <h2>对集群进行安装</h2>
        <button type="button" id="installbt" class="btn" data-loading-text="安装中...">安装</button>
        <div id="state" class="border-box" style="display:none">
            <h2>安装进度:</h2>
            <div id="process" class="progress progress-striped active" >
                <div id="bar" class="bar" style="width:0%;"><span id="processnum">0%</span></div>
            </div>
        </div>
    </div>
    <form>
        {% raw xsrf_form_html() %}
    </form>
</div>
<script type="text/javascript">
var getTheprocess=function(){
    var paths = '/StartInstall/getprocess';
    var interval;
    $.ajax(paths,{
        type:"get",
        success:function(data){
            if((+data)>=0&&(+data)<100){
                $("#bar").attr("style","width:"+data+"%");
                $("#processnum").html(data+"%");
            }
            else{
                clearInterval(interval);
                $("#bar").attr("style","width:0%");
                $("#processnum").html("0%");
            }
        }
    });
}

$("#handout").click(function(){
    var hname = '_xsrf='+$('input[name="_xsrf"]').val();
    var paths = '/StartInstall/handout'+'?'+hname;
    $("#handout").button("loading");
    $.ajax(paths,{
        type:"post",
        success:function(result){
            dialog(result);
            $("#handout").button("reset");
            $("#install").fadeIn();
        },
        error:function(result){
            dialog('success')
            $("#handout").button("reset");
            $("#install").fadeIn();
        }
    });
})
$("#installbt").click(function () {
    var hname = '_xsrf='+$('input[name="_xsrf"]').val();
    var paths = '/StartInstall/install'+'?'+hname;
    $("#state").fadeIn();
    $("#installbt").button("loading");
    interval=setInterval(getTheprocess,500);             
    $.ajax(paths,{
        type:"post",
        timeout:0,
        headers:{"Content-Type":"application/json;charset=UTF-8"},
        success:function(result){ 
            if(result.indexOf("error")!=-1){
                $("#bar").attr("style","width:0%");
                $("#processnum").html("0%");
            }           
            $("#installbt").button("reset");
            dialog(result);
            clearInterval(interval);
        },
        error:function(data){
            console.log(data);
            $("#installbt").button("reset");
            clearInterval(interval);
        }
    });        
});
</script>
{% module footer()%}