{% module header() %}
{% module nav(active=1) %}
    <div class="alert alert-info">
        <h3>Step 5:自定义修改配置文件</h3>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="accordion" id="accordion2">
                {% for item in items %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#{{ item['projectname'].split('-')[0] }}">
                            {{ item['projectname'] }}
                            </a>
                        </div>
                        <div id="{{ item['projectname'].split('-')[0] }}" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <ul class="nav nav-tabs nav-stacked">
                                    {% for projectdir in item['projectdir'] %}
                                        <li><a data-bind="click:function(){getdata($element)}" project="{{ item['projectname'] }}" class="configurefiles" href="#">{{ projectdir }}</a></li>
                                    {% end %}
                                </ul>
                                <form action="/CustomConfigure/{{ item['projectname'] }}/uploadfile" method="post" enctype="multipart/form-data">
                                    <fieldset>
                                        <legend>上传{{ item['projectname'] }}配置文件</legend>
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="file" name="uploadfile">
                                                <button type="submit" class="btn" value="upload">上传</button>
                                            </div>
                                        </div>
                                        {% raw xsrf_form_html() %}
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                {% end %}
                </div>
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span6 offset2">
                        <form data-bind="submit: search" class="form-serach">
                            <input data-bind="value: searchkey" type="text" class="input-large search-query" placeholder="please input the name to search">
                            <button id="searchbtn" type="submit" class="btn">查找</button>
                        </form>
                    </div>
                </div>
                
                <div class="row">
                    <form class="form-inline">
                        <div class="control-group">
                            <input data-bind="value: configurename" type="text" class="input-medium" placeholder="name">
                            <input data-bind="value: configurevalue" type="text" class="input-medium" placeholder="value">
                            <input data-bind="value: configuredescription" type="text" class="input-medium" placeholder="description">
                        </div>
                        <div class="control-group">
                            <div class="span2"><button class="btn" data-bind="click: resetinput">重置</button></div>
                            <div class="span2"><button data-bind="click: addormodify" class="btn">添加或修改</button></div>
                            <div class="span2"><button class="btn" data-bind="click: save">保存</button></div>
                            {% raw xsrf_form_html() %}
                        </div>
                    </form>    
                </div>
                <table class="table" data-bind="visible: configures().length>0">
                    <thead>
                        <tr><th>name</th><th>value</th><th>description</th><th>delete</th></tr>
                    </thead>
                    <tbody data-bind="foreach: configures">
                        <tr>
                            <td><label data-bind="text: name " class="text"></label></td>
                            <td><input data-bind="value: value" type="text" class="input-medium"></td>
                            <td><input data-bind="value: description" type="text" class="input-medium"></td>
                            <td><a href="#" data-bind="click: $parent.remove">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="pager">
            <li><a href="/ChooseInstall">上一步</a></li>
            <li><a href="/StartInstall">下一步</a></li>
        </ul>
    </div>
    
    
    <input type="hidden" id="filename">
    <script type="text/javascript" src="{{ static_url("bootstrap/js/jquery-1.11.0.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap/js/knockout-3.1.0.js") }}"></script>
    <script type="text/javascript">
        function dialog(value){
            $(".modal-body p").html(value);
            $("#alertModal").modal("toggle");
        }
        $(function(){
            $(".nav-stacked li").click(function(){
                $(".nav-stacked li").each(function(){$(this).attr("class","");});
                $(this).attr("class","active");
            });
            $(".search-query").typeahead({
                source:[]
            });
            $(".search-query").keypress(function(event){
                if(event.which==13){
                    $('#searchbtn').click();
                }
            });
        });
        function configure(key,data){
            this.name=ko.observable(key);
            this.value=ko.observable(data['value']);
            this.description=ko.observable(data['description']);
            
        }
        //viewmodel
        function confViewModel(){
            //data
            var self=this;
            self.configures=ko.observableArray([]);
            self.configurename=ko.observable();
            self.configurevalue=ko.observable();
            self.configuredescription=ko.observable();
            self.searchkey=ko.observable();
            //reset
            self.reset=function(){
                self.configures.removeAll();
                self.configurename("");
                self.configurevalue("");
                self.configuredescription("");
                self.searchkey("");
            }
            //resetinput
            self.resetinput=function(){
                self.configurename("");
                self.configurevalue("");
                self.configuredescription("");
                self.searchkey("");
            }
            //Load data 
            self.getdata=function(element){
                paths='/CustomConfigure/'+$(element).attr('project')+'/'+$(element).html();
                self.reset();
                $.getJSON(paths,function(alldata){
                    for( data in alldata){
                        self.configures.push(new configure(data,alldata[data]));
                    }
                    //self.configures(mapconf);
                    //设置自动提示
                    var source=self.configures().map(function(data){
                        return data.name();
                    });
                    //自动提示
                    $(".search-query").data('typeahead').source=source;
                    //给隐藏与赋值用于保存数据
                    $("#filename").val(paths);  
                }); 
            }   
            //search    
            self.search=function(){
                svalue=self.configures().filter(function(data){
                    return data.name()==self.searchkey();
                });
                if(svalue.length!=0){
                    self.configurename(svalue[0].name());
                    self.configurevalue(svalue[0].value());
                    self.configuredescription(svalue[0].description());
                }
            }
            //save
            self.save=function(){
                var hname='_xsrf='+$('input[name="_xsrf"]').val();
                var paths = $("#filename").val()+'?'+hname;             
                if(/^\/CustomConfigure\/[\S]+\.xml/.test(paths)){
                    $.ajax(paths,{
                        data:ko.toJSON(self.configures),
                        type:"post",
                        headers:{"Cookie":hname,"Content-Type":"application/json;charset=UTF-8"},
                        success:function(result){
                            dialog(result);
                        }
                    });
                }
                else{
                    dialog("操作有误!");
                }
            }   
            //add new name or modify
            self.addormodify=function(){
                if(self.configurename()==undefined||self.configurename()==""){
                    dialog("请输入要修改的数据！");
                    return;
                }
                else{
                    svalue=self.configures().filter(function(data){
                        return data.name()==self.searchkey();
                    });
                    if (svalue.length!=0) {
                        svalue[0].name(self.configurename());
                        svalue[0].value(self.configurevalue());
                        svalue[0].description(self.configuredescription());
                    }
                    else{
                        self.configures.push(new configure(self.configurename(),
                            {"value":self.configurevalue(),"description":self.configuredescription()}));
                    }
                    //设置自动提示
                    var source=self.configures().map(function(data){
                        return data.name();
                    });
                    //自动提示
                    $(".search-query").data('typeahead').source=source;
                }
            }
            //remove
            self.remove=function(configure){
                self.configures.remove(configure);
                //设置自动提示
                var source=self.configures().map(function(data){
                    return data.name();
                });
                //自动提示
                $(".search-query").data('typeahead').source=source;
            }
        }

        ko.applyBindings(new confViewModel());
        
    </script>
{% module footer()%}